# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Kotlin
.kotlin/

# Local config
local.properties
opencode.json
opencode.jsonc
*.iml
.idea/
.DS_Store
captures/
.externalNativeBuild/
.cxx/

# Logs / build artifacts
*.apk
*.aab
*.ap_
*.dex
